{% extends 'base.html.twig' %}

{% block title %}Modifer la recette{% endblock %}

{% block body %}
    <h1>Modifer la recette</h1>

    {{ include('recipe/_form.html.twig') }}

    <a href="{{ path('app_recipe_index') }}">back to list</a>

{% endblock %}
